appdirs==1.4.4
beautifulsoup4==4.9.2
boto3==1.15.14
botocore==1.18.14
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
email-scraper==0.3
email-scrapper==0.6.0
filelock==3.0.12
flake8==3.8.4
idna==2.10
jmespath==0.10.0
lxml==4.5.2
mccabe==0.6.1
pdfminer.six==20200726
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyperclip==1.8.1
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
selenium==3.141.0
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
tlds==2020092900
uritools==3.0.0
urlextract==1.1.0
urllib3==1.25.10
